RewriteEngine On

RewriteRule ^login$ web-src/pages/login.php [L]
RewriteRule ^view$ web-src/pages/view.php [L]

RewriteCond %{REQUEST_URI} ^/static/ [NC]
RewriteRule ^static/(.*)$ web-src/static/$1 [L]

RewriteCond %{REQUEST_URI} ^/dashboard/ [NC]
RewriteRule ^dashboard/(.*)$ web-src/pages/dashboard/$1 [L]

RewriteCond %{REQUEST_URI} ^/api/ [NC]
RewriteRule ^api/(.*)$ web-src/api/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ web-src/pages/home.php [L]

RewriteRule ^$ web-src/pages/home.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ web-src/pages/home.php [L]